
/*
----------------------------------------------------------
BUILDING BLOCK: APP-DASHBOARD 
----------------------------------------------------------
*/

.app-dashboard {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .app-dashboard-body {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .app-dashboard-top-nav-bar {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #2c3840;
    height: 55px;
    width: 100%;
    -webkit-flex: 0 0 55px;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
  }
  
  .app-dashboard-top-nav-bar .menu-icon {
    vertical-align: text-bottom;
  }
  
  .app-dashboard-logo {
    color: #fefefe;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .app-dashboard-search-bar-container {
    position: relative;
  }
  
  .app-dashboard-search {
    background: #41525e;
    border: 0;
    margin-bottom: 0;
    color: #fefefe;
  }
  
  .app-dashboard-search:active, .app-dashboard-search:focus {
    background: #222b31;
  }
  
  .app-dashboard-search-icon {
    position: absolute;
    color: #fefefe;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  .app-dashboard-top-bar-actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .app-dashboard-top-bar-actions button {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  
  .app-dashboard-top-bar-actions button.hollow {
    border-color: #fefefe;
    color: #fefefe;
  }
  
  .app-dashboard-top-bar-actions button.hollow:hover {
    background: #fefefe;
    color: #1779ba;
  }
  
  .app-dashboard-top-bar-actions .fa-info-circle {
    color: #fefefe;
    font-size: 1.5rem;
  }
  
  .app-dashboard-sidebar {
    background-color: #fefefe;
    height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    z-index: 1;
    transition: all 0.5s ease;
  }
  
  .app-dashboard-sidebar .app-dashboard-open-sidebar, .app-dashboard-sidebar .app-dashboard-close-sidebar {
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem 1rem;
  }
  
  .app-dashboard-sidebar .app-dashboard-sidebar-close-button {
    font-size: 14px;
  }
  
  .app-dashboard-sidebar .app-dashboard-sidebar-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .app-dashboard-sidebar .app-dashboard-sidebar-inner .menu > li > a {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .app-dashboard-sidebar .fa.large {
    font-size: 1.5rem;
    width: 40px;
  }
  
  .reveal-for-medium .app-dashboard-open-sidebar {
    display: none;
  }
  
  .app-dashboard-sidebar-footer {
    background: rgba(42, 57, 79, 0.8);
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    width: 100%;
  }
  
  .app-dashboard-open-sidebar {
    text-align: center;
  }
  
  .app-dashboard-body-content {
    transition: all 0.5s ease;
    overflow-y: auto;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 20px;
    background-color: #fefefe;
  }
  
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .app-dashboard.shrink-medium .app-dashboard-close-sidebar, .app-dashboard.shrink-medium .app-dashboard-sidebar-text {
      display: none;
    }
    .app-dashboard.shrink-medium .app-dashboard-open-sidebar {
      display: block;
    }
    .app-dashboard.shrink-medium .app-dashboard-sidebar {
      width: 80px;
    }
    .app-dashboard.shrink-medium .app-dashboard-sidebar .fa.large {
      width: auto;
    }
    .app-dashboard.shrink-medium .off-canvas-content {
      margin-left: 80px;
      width: calc(100% - 80px);
    }
    .app-dashboard.shrink-medium .navigation {
      margin-top: 2rem;
      text-align: center;
    }
    .app-dashboard.shrink-medium .menu.vertical > li > a {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .app-dashboard.shrink-medium .menu li::after {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .app-dashboard.shrink-medium .menu li a {
      padding: 0.75rem;
    }
    .app-dashboard.shrink-medium .menu li a svg {
      margin: 0;
    }
    .app-dashboard.shrink-medium .menu li a span {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .app-dashboard.shrink-large .app-dashboard-close-sidebar, .app-dashboard.shrink-large .app-dashboard-sidebar-text {
      display: none;
    }
    .app-dashboard.shrink-large .app-dashboard-open-sidebar {
      display: block;
    }
    .app-dashboard.shrink-large .app-dashboard-sidebar {
      width: 80px;
    }
    .app-dashboard.shrink-large .app-dashboard-sidebar .fa.large {
      width: auto;
    }
    .app-dashboard.shrink-large .off-canvas-content {
      margin-left: 80px;
      width: calc(100% - 80px);
    }
    .app-dashboard.shrink-large .navigation {
      margin-top: 2rem;
      text-align: center;
    }
    .app-dashboard.shrink-large .menu.vertical > li > a {
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .app-dashboard.shrink-large .menu li::after {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    .app-dashboard.shrink-large .menu li a {
      padding: 0.75rem;
    }
    .app-dashboard.shrink-large .menu li a svg {
      margin: 0;
    }
    .app-dashboard.shrink-large .menu li a span {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }
  
/*
----------------------------------------------------------
BUILDING BLOCK: LOGIN-BOX
----------------------------------------------------------
*/
  

.login-box {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
    background: #fefefe;
    border-radius: 0;
    overflow: hidden;
  }
  
  .login-box .or {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    display: inline-block;
    min-width: 2.1em;
    padding: 0.3em;
    border-radius: 50%;
    font-size: 0.6rem;
    text-align: center;
    font-size: 1.275rem;
    background: #cacaca;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
  }
  
  @media screen and (max-width: 39.9375em) {
    .login-box .or {
      top: 85%;
    }
  }
  
  .login-box-title {
    font-weight: 300;
    font-size: 1.875rem;
    margin-bottom: 1.25rem;
  }
  
  .login-box-form-section,
  .login-box-social-section-inner {
    padding: 2.5rem;
  }
  
  .login-box-social-section {
    background: url("https://images.pexels.com/photos/179124/pexels-photo-179124.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    background-position: center;
  }
  
  .login-box-input {
    margin-bottom: 1.25rem;
    height: 2rem;
    border: 0;
    padding-left: 0;
    box-shadow: none;
    border-bottom: 1px solid #1779ba;
    font-weight: 400;
  }
  
  .login-box-input:focus {
    color: #1779ba;
    transition: 0.2s ease-in-out;
    box-shadow: none;
    border: 0;
    border-bottom: 2px solid #1779ba;
  }
  
  .login-box-submit-button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    text-transform: uppercase;
    margin-bottom: 0;
  }
  
  [data-whatinput='mouse'] .login-box-submit-button {
    outline: 0;
  }
  
  .login-box-submit-button:hover, .login-box-submit-button:focus {
    background-color: #126195;
    color: #fefefe;
  }
  
  .login-box-submit-button:hover,
  .login-box-submit-button:focus {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
  }
  
  .login-box-submit-button:active {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.4);
  }
  
  .login-box-social-button-facebook {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #3b5998;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  
  [data-whatinput='mouse'] .login-box-social-button-facebook {
    outline: 0;
  }
  
  .login-box-social-button-facebook:hover, .login-box-social-button-facebook:focus {
    background-color: #2f477a;
    color: #fefefe;
  }
  
  .login-box-social-button-twitter {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #55acee;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  
  [data-whatinput='mouse'] .login-box-social-button-twitter {
    outline: 0;
  }
  
  .login-box-social-button-twitter:hover, .login-box-social-button-twitter:focus {
    background-color: #1a8fe8;
    color: #fefefe;
  }
  
  .login-box-social-button-google {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #dd4b39;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  
  [data-whatinput='mouse'] .login-box-social-button-google {
    outline: 0;
  }
  
  .login-box-social-button-google:hover, .login-box-social-button-google:focus {
    background-color: #be3221;
    color: #fefefe;
  }
  
  [class*="login-box-social-button-"]:hover,
  [class*="login-box-social-button-"]:focus {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.4);
  }
  
  .login-box-social-headline {
    display: block;
    margin-bottom: 2.5rem;
    font-size: 1.875rem;
    color: #fefefe;
    text-align: center;
  }
  
  